/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
@font-face {
	font-family: 'Rechage';
	font-style: normal;
	font-weight: 500;
	src: local('Recharge'), url('/fonts/recharge_bd.otf');
}
}
